.container {
  padding: 0 2rem;
}

.main {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: max-content minmax(0, 1fr) max-content;
}

.grid {
  gap: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 16px auto 48px;
}

.grid a {
  --size: 80px;
  width: var(--size);
  height: var(--size);
  color: inherit;
  text-decoration: none;
  border: none;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.instagram {
  background-image: url('/instagram.png');
}

.twitter {
  background-image: url('/twitter.png');
}

.youtube {
  background-image: url('/youtube.png');
}

.deezer {
  background-image: url('/deezer.png');
}

.tiktok {
  background-image: url('/tiktok.png');
}

.spotify {
  background-image: url('/spotify.png');
}

.web {
  background-image: url('/web.png');
}

.mail {
  background-image: url('/mail.png');
}

.apple {
  background-image: url('/apple.png');
}

.google {
  background-image: url('/google.png');
}

.whatsapp {
  background-image: url('/whatsapp.png');
}

.logo {
  background-image: url('/logo.webp');
  height: 60px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slogan {
  background-image: url('/slogan.webp');
  height: 60px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.footer {
  height: 100px;
  background-image: url('/isotipo.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
